<form method="post" action="/create">
   <table>
      <tr>
         <td>
            <label for="title">State:</label>
         </td>
         <td>
            <input type="text" name="state">
         </td>
      </tr>
      <tr>
         <td>
            <label for="instructor">Capital:</label>
         </td>
         <td>
            <input type="text" name="capital">
         </td>
      </tr>
      <tr>
         <td>
            <label for="semester">Places to visit:</label>
         </td>
         <td>
            <input type="text" name="places">
         </td>
      </tr>
      <tr>
         <td>
         </td>
         <td>
            <input type="submit">
         </td>
      </tr>
   </table>
</form>