<body>
   <h1><%=@course.state%></h1>
   <p>	
   <table>
      <tr>
         <td>	
            State:	
         </td>
         <td>	
            <%=@course.state%>	
         </td>
      </tr>
            <tr>
         <td>	
            Capital:	
         </td>
         <td>	
            <%=@course.capital%>	
         </td>
      </tr>
            <tr>
         <td>	
            Places:	
         </td>
         <td>	
            <%=@course.places%>	
         </td>
      </tr>
   </table>
   </p>	
   <p>	
      <a	href="/courses">Index of Courses</a>	
   </p>
</body>